<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%include 'head_links.html'%}
    <title>Add Weekly Newspaper</title>
</head>
<body>
    {%include 'navbar.html'%}
    <div class="container">
        <form action="{{url_for('add_weekly_newspaper')}}" method="post">

            <div class="form-group">
                <label>Newspaper Name:</label><br>
                <input type="text" name="weekly_newspaper_name" placeholder="Enter newspaper name"><br>
            </div>

            <div class="form-group">
                <label>Newspaper Frequency:</label><br>
                <input type="text" name="weekly_newspaper_frequency" value="Weekly" readonly><br>
            </div>

            <div class="form-group">
                <label>Editor of the Newspaper:</label><br>
                <input type="text" name="weekly_newspaper_editor" placeholder="Enter editor's name"><br>
            </div>

            <div class="form-group">
                <label>State:</label><br>
                <input type="text" name="weekly_newspaper_state_name" placeholder="Enter state"><br>
            </div>

            <div class="form-group">
                <label>Rate:</label><br>
                <input type="text" name="weekly_newspaper_rate" placeholder="Enter state's rate"><br>
            </div>

            <button class="btn btn-default btn-primary" type="submit" name ="submit" value="submit">Submit</button>
            <button class="btn btn-default btn-primary" type="submit" name="submit" value="update">Update</button>
        </form>
        <p>Link to get all customer and their subscription for weekly newspaper: <a href="{{url_for('all_newsw_sub')}}">Click here!</a></p>
    </div> <!-- end of container -->
</body>
</html>