<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazine Subscriptions</title>
</head>
<body>
    <p>Welcome! All Magazine Subscriptions</p>
    <table style="width: 100%">
        <tr>
			<th>Customer Name</th>
			<th>Customer Address</th>
            <th>Magazine Name</th>
            <th>Magazine Frequency</th>
            <th>Magazine distribution state</th>
            <th>Magazine Rate</th>
			<th>Number of Issues</th>
            <th>Subscription End Date</th>
			<th>Customer Status</th>
			<th>Subscription Cost</th>
        </tr>
        {%for magazine in all_mag_sub%}
        <tr>
            <td>{{magazine[0]}}</td>
            <td>{{magazine[1]}}</td>
            <td>{{magazine[2]}}</td>
			<td>{{magazine[3]}}</td>
			<td>{{magazine[4]}}</td>
			<td>${{magazine[5]|float }}</td>
			<td>{{magazine[6]}}</td>
			<td>{{magazine[7]}}</td>
			<td>{{magazine[8]}}</td>
            <td>${{magazine[9]|float }}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>