<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%include 'head_links.html'%}
    <title>Magazine Subscriptions</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
    <p style="margin-bottom: 20px">Welcome! All Weekly Newspaper Subscriptions</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer Address</th>
                <th>Weekly Newspaper Name</th>
                <th>Weekly Newspaper Frequency</th>
                <th>Weekly Newspaper distribution state</th>
                <th>Weekly Newspaper Rate</th>
                <th>Number of Issues</th>
                <th>Subscription End Date</th>
                <th>Subscription Status</th>
                <th>Subscription Cost</th>
            </tr>
        </thead>
        <tbody>
            {%for weekly_newspaper in all_newsw_sub%}
            <tr>
                <td>{{weekly_newspaper[0]}}</td>
                <td>{{weekly_newspaper[1]}}</td>
                <td>{{weekly_newspaper[2]}}</td>
                <td>Weekly</td>
                <td>{{weekly_newspaper[3]}}</td>
                <td>${{weekly_newspaper[4]|float }}</td>
                <td>{{weekly_newspaper[5]}}</td>
                <td>{{weekly_newspaper[6]}}</td>
                <td>{{weekly_newspaper[7]}}</td>
                <td>${{weekly_newspaper[8]|float }}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</body>
</html>