<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%include 'head_links.html'%}
    <title>Magazines</title>
</head>
<body>
	{% include 'navbar.html' %}
        <div class="container">
        <p style="margin-bottom: 20px">Welcome! Please feel free to subscribe</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Magazine Name</th>
                    <th>Magazine Frequency</th>
                    <th>Magazine distribution state</th>
                    <th>Magazine Rate</th>
                    <th>Subscription Link</th>
                </tr>
            </thead>
            <tbody>
                {%for magazine in all_magazines%}
                <tr>
                    <td>{{magazine[0]}}</td>
                    <td>{{magazine[1]}}</td>
                    <td>{{magazine[2]}}</td>
                    <td>${{magazine[3]|float }}</td>
                    <td>
                        <a href="{{url_for('magazine_subscription',name=magazine[0],freq=magazine[1],state=magazine[2],rate=magazine[3])}}">
                            Subscribe
                        </a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>