<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazine Subscription</title>
</head>
<body>
    <p>Name:{{mag_name}}</p>
    <p>Frequency:{{mag_frequency}}</p>
    <p>State:{{mag_state}}</p>
    <p>Rate:${{mag_rate|float}}</p>
    <form action="{{url_for('magazine_subscription')}}" method="post">
        No of Issues:<br>
        <input type="number" name="number_of_issues_magazine" placeholder="enter required issues"><br>
        Start Date:<br>
        <input type="date" name="start_date_magazine" placeholder="enter start date for subscription"><br>
        End Date:<br>
        <input type="date" name="end_date_magazine" placeholder="enter end date for subscription"><br>
        <input type="submit" name="submit" value="Submit">
    </form>
</body>
</html>