<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Newspaper & Magazine Subscription</a>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li ><a href="{{url_for('index')}}">Home</a></li>
        <li ><a href="{{url_for('add_magazine')}}">Add Magazine</a></li>
        <li ><a href="{{url_for('add_daily_newspaper')}}">Add Daily Newspaper</a></li>
        <li ><a href="{{url_for('add_weekly_newspaper')}}">Add Weekly Newspaper</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>