<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%include 'head_links.html'%}
    <title>Subscriptions</title>
</head>
<body>

	{% include 'navbar.html' %}

    <div class="container">
        <p style="margin-bottom: 20px">This are all the types of publications we have. Please try them out.</p>
        <div class="btn-group btn-group-justified" role="group">
            <a class="btn btn-default" role="button" href="{{url_for('magazines')}}">Magazines</a><br>
            <a class="btn btn-default" role="button" href="{{url_for('daily_newspapers')}}">Daily Newspapers</a><br>
            <a class="btn btn-default" role="button" href="{{url_for('weekly_newspapers')}}">Weekly Newspapers</a><br>
        </div>
    </div> <!-- end of container -->
</body>
</html>