<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekly Newspapers</title>
</head>
<body>
    <p>Welcome! Please feel free to subscribe</p>
    <table style="width: 100%">
        <tr>
            <th>Newspaper Name</th>
            <th>Newspaper Frequency</th>
            <th>Newspaper distribution state</th>
            <th>Newspaper Rate</th>
            <th>Subscription Link</th>
        </tr>
        {%for weekly_newspaper in all_weekly_newspaper%}
        <tr>
            <td>{{weekly_newspaper[0]}}</td>
            <td>Weekly</td>
            <td>{{weekly_newspaper[1]}}</td>
            <td>${{weekly_newspaper[2]|float }}</td>
            <td>
                <a href="">
                    Subscribe
                </a>
            </td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>